/* variables */
:root {
  --color-1: #f87070;
  --color-2: #70f3f8;
  --color-3: #d881f8;
  --color-4: #d7e0ff;
  --color-5: #1e213f;
  --color-6: #ffffff;
  --color-7: #eff1fa;
  --color-8: #161932;
  --color-9: #0a0c1c83;
  --color-10: #979797;
  --color-11: #e3e1e1;
  --gradient-for-circle: linear-gradient(315deg, #3c4485 10%, #0e112a 100%);
}

/* reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: bold;
}

button {
  align-self: center;
  background: transparent;
  border: none;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: bold;
  cursor: pointer;
}

body {
  background: var(--color-5);
  color: var(--color-4);
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* main */

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  width: 100%;
  height: 100%;
  margin: 5em 0;
}

/* pomodoro */

.pomodoro__title {
  font-size: 3.2em;
  color: var(--color-4);
}

/* pomodoro central container */

.pomodoro__central-container {
  margin: 3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pomodoro__options {
  z-index: 1;
  display: flex;
  padding: 0.5em;
  background: var(--color-8);
  border-radius: 2.5em;
}

.pomodoro__option {
  border-radius: 2em;
  color: var(--color-4);
  padding: 1em;
  opacity: 0.4;
  cursor: pointer;
  font-size: 1.4em;
}

.pomodoro__option:hover:not(.selected) {
  opacity: 1;
}

.pomodoro__option.selected {
  opacity: 1;
  background: var(--color-1);
  color: var(--color-5);
}

/* pomodoro circle */

.pomodoro__outer-circle {
  scale: 0.9;
  margin-top: 5em;
  position: relative;
  height: 410px;
  width: 410px;
  border-radius: 50%;
  background: var(--gradient-for-circle);
  box-shadow: -50px -50px 100px #272c5a, 50px 50px 100px #121530;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pomodoro__outer-circle::after {
  z-index: 0;
  position: absolute;
  content: "";
  top: 5%;
  left: 5%;
  right: 5%;
  bottom: 5%;
  border-radius: 50%;
  background: var(--color-8);
}

.pomodoro__time-container {
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.pomodoro__time {
  font-size: 10em;
  letter-spacing: -0.5rem;
  line-height: 0.8;
  z-index: 1;
}

.pomodoro__action {
  text-align: center;
  bottom: -3em;
  left: 50%;
  transform: translateX(-40%);
  position: absolute;
  z-index: 1;
  letter-spacing: 1.5em;
  text-transform: uppercase;
  cursor: pointer;
  transition: letter-spacing 0.2s ease-in-out;
}

.pomodoro__action:hover {
  letter-spacing: 1.2em;
}

.settings__icon {
  cursor: pointer;
}

.settings__icon:hover {
  animation: rotation 2s infinite;
  transition: scale 0.2s ease-in-out;
}

.settings__icon:active {
  scale: 1.2;
}

/* Settings window */

.settings-container {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;

  background: var(--color-9);

  display: flex;
  justify-content: center;
  align-items: center;
}

.settings {
  height: 464px;
  max-width: 540px;
  flex: 1;
  margin: 0 2rem;
  border-radius: 2.5em;
  background: var(--color-6);
  color: var(--color-8);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;

  position: relative;
}

.settings > * {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.settings__header {
  padding: 3em 2.8em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px var(--color-11) solid;
}

.settings__title {
  font-size: 2.8em;
}

.close__icon {
  transition: all 0.1s ease-in;
  cursor: pointer;
}

.close__icon:hover {
  animation: shaking 0.2s alternate linear infinite;
  scale: 1.1;
}

.settings__main {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 2.8em 2.8em 2.8em;
}

.settings__time-title {
  font-size: 1.3em;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin: 2em 0;
}

.settings__all-container {
  flex: 1;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}

.settings__time-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3em;
  border-bottom: 1px var(--color-11) solid;
}

.settings__minutes-title {
  color: var(--color-5);
  opacity: 0.4;
}

.settings__minutes-input {
  padding: 0.5em 0.8em;
  margin: 0.5em 0 2em 0;
  background: var(--color-7);
  border-radius: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.settings__arrows {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  stroke-opacity: 0.25;
  stroke: var(--color-5);
}

.settings__arrows .arrow-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.1em;
  padding: 0.3em;
  cursor: pointer;
}

.arrow-container:hover .arrow-down__icon,
.arrow-container:hover .arrow-up__icon {
  stroke-opacity: 1;
  animation: slight-shaking 0.15s alternate linear infinite;
}

.settings__font-container,
.settings__color-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.settings__font-container {
  border-bottom: 1px var(--color-11) solid;
}

.settings__font-title,
.settings__color-title {
  flex: 1;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-size: 1.3em;
}

.circle {
  height: 40px;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.circle:hover {
  transform: scale(0.95);
}

.circle:nth-of-type(2) {
  margin: 0 1rem;
}

.font-circle {
  background: var(--color-7);
}

.font-circle-2 {
  font-family: "Roboto Slab", serif;
}

.font-circle-3 {
  font-family: "Space Mono", monospace;
}

.font-circle.selected {
  background: var(--color-8);
  color: var(--color-6);
}

.color-circle {
  position: relative;
  overflow: hidden;
}

.color-circle-1 {
  background: var(--color-1);
}

.color-circle.selected::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--color-8);
  scale: 0.6;
  clip-path: polygon(28% 38%, 41% 53%, 75% 24%, 86% 38%, 40% 78%, 15% 50%);
}

.color-circle-2 {
  background: var(--color-2);
}
.color-circle-3 {
  background: var(--color-3);
}

.apply-btn {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(50%);
  display: grid;
  place-items: center;
  padding: 0.8em 2em;
  border-radius: 2.5em;
  background: var(--color-1);
  color: var(--color-6);
  font-size: 1.6em;
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out,
    scale 0.2s ease-in-out;
  transform-origin: center center;
}

.apply-btn:hover {
  box-shadow: inset 0 0 30px rgba(24, 7, 7, 0.4);
  transform: translateX(-50%) translateY(50%) rotateZ(2deg);
}

.apply-btn:active {
  scale: 0.95;
  box-shadow: inset 0 0 30px rgb(24, 7, 7);
}

/* Circle ring */
.progress-ring {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform-origin: center;
  transform: translateX(-50%) translateY(-50%) rotateZ(270deg);
}

/* .progress-ring__circle {
  stroke: var(--color-1);
} */

/* Animations */

@keyframes rotation {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}

@keyframes shaking {
  from {
    transform: translateX(-8%);
  }
  to {
    transform: translateX(8%);
  }
}

@keyframes slight-shaking {
  from {
    transform: translateX(-5%);
  }
  to {
    transform: translateX(5%);
  }
}
